<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- All log files located in logs file of the project -->
    <property name="LOGS" value="./logs" />

    <!-- Define the console log format -->
    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                <!-- Color scheme for the console logs-->
                %green(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <!-- Defining the rolling behaviour of log files by date and its format
    Log files names follow the format ${LOGS}/logger-%d{yyyy-MM-dd}.%i.log
    For eg. The first log file for 1st Jan 2000 will be named "logger-2000-01-01.0.log".
    After this file reaches the specified maximum size a new log file named "logger-2001-01-01.1.log" will be created -->

    <appender name="RollingFileByDate"
              class="ch.qos.logback.core.rolling.RollingFileAppender">

        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
        </encoder>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>${LOGS}/logger-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- maximum size for log file -->
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!-- LOG everything at info level -->
    <root level="info">
        <appender-ref ref="RollingFileByDate" />
        <appender-ref ref="Console" />
    </root>

    <!-- LOG "com.test*" at TRACE level -->
    <logger name="com.test" level="trace" additivity="false">
        <appender-ref ref="RollingFileByDate" />
        <appender-ref ref="Console" />
    </logger>

</configuration>