<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add user</title>
    <meta charset="UTF-8">
</head>
<body>

<h1>Add User</h1>

<form action="#" th:action="@{/newUser}"  method="post">
<!--    <p>-->
<!--        UserId: <input type="text" name="userId">-->
<!--    </p>-->

    <p>
        UserType: <input type="text" name="userType">
    </p>
    <p>
        Password: <input type="text" name="password">
    </p>
    <p>
        Email: <input type="text" name="email">
    </p>
    <p>
        <input type="submit" value="Submit"/> <input type="reset" value="Reset">
    </p>
</form>

</body>
</html>