<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company Home</title>
</head>
<body>
<span>Welcome <th:block th:text="${company}">[company]</th:block></span>
<form action="#" th:action="@{/company/addOpenIPO/{id}(id=${companyId})}"  method="post">
    <input type="submit" value="Create IPO"/>
</form>
<form action="#" th:action="@{/company/getBids/{id}(id=${companyId})}"  method="post">
    <input type="submit" value="get Bids"/>
</form>
<form action="#" th:action="@{/company/issue/{id}(id=${companyId})}"  method="post">
    <input type="submit" value="Allocate IPO"/>
</form>
</body>
</html>