<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company Home</title>
</head>
<body>
<span>Welcome <th:block th:text="${userId}">[userId]</th:block></span>
<form action="#" th:action="@{/user/getUserOpenIPOs/{id}(id=${userId})}"  method="post">
    <input type="submit" value="View current IPOs"/>
</form>
<form action="#" th:action="@{/user/getTransaction/{id}(id=${userId})}"  method="post">
    <input type="submit" value="View Transactions"/>
</form>
<form action="#" th:action="@{/user/walletForm/{id}(id=${userId})}"  method="post">
    <input type="submit" value="Add money to Wallet"/>
</form>
<form action="#" th:action="@{/user/getBids/{id}(id=${userId})}"  method="post">
    <input type="submit" value="View previous bids"/>
</form>
</body>
</html>