<!DOCTYPE html>
<html lang="en">
<body>

<table border="2">
    <tbody>
    <tr>
        <th>UserID</th>
        <th>Password</th>
        <th>Email</th>
        <th>User Type</th>
        <th>Wallet Amount</th>
    </tr>
    <tr th:each="user:${users}">
        <td th:text="${user.userID}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.userType}"></td>
        <td th:text="${user.wallet}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>